
 <footer id="footer" class="bg-dark">
        <div class="center">
            <nav class="redes-sociales">
                <a target="_blank" href="https://gitlab.com/smavo"><i class="fab fa-gitlab" aria-hidden="true" target="_blank"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/smavo24/"><i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://twitter.com/smavo24"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="https://www.instagram.com/s.m.a.v.o.24/"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.facebook.com/smavo24"><i class="fab fa-facebook-square"></i></a>                    
            </nav>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>

</html>